{% extends 'GalleryMainBundle::layout.html.twig' %}

{% block title %}
    Редактирование изображения {{ entity.id }}
{% endblock %}

{% block content %}
    <h3 style="text-align: center">Редактирование изображения</h3>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% if error is defined %}
        <div class="error-block">{{ error }}</div>
    {% endif %}
    <form action="{{ path('image_update', {'id': entity.id}) }}" {{ form_enctype(edit_form) }} method="POST">
    <div class="image_edit_cell">
        <strong>Изображение:</strong>
        <div id="img_container">
            <img class="preview" src = "/uploads/images/{{ entity.filename }}">
        </div><br>
    </div>
    <div class="image_edit_cell">
        <strong>Описание:</strong><span class="form-errors">{{ form_errors(edit_form.description) }}</span><br>
        {{ form_widget(edit_form.description) }}
    </div>
    <div class="image_edit_cell">
        <strong>Категория:</strong>{#<span class="form-errors">{{ form_errors(edit_form.category) }}</span>#}<br>
        {{ form_widget(edit_form.choice_category) }}
        <select id="gallery_mainbundle_image_choice_category" name="gallery_mainbundle_image[choice_category]">
        {% for category in categories %}
            {% if not category.parent %}
                <optgroup label="{{ category.name }}">
                {% for subcategory in categories %}
                    {% if subcategory.parent == category.id %}
                        {% if subcategory.name == entity.category %}
                            <option selected value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                        {% else %}
                            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </select>
    </div>
    
    <div class="bottom-buttons">
        <input type="submit" class="btn btn-default btn-sm margin_button" value="Обновить" />
        <button class="btn btn-default btn-sm margin_button" type="button" onclick="$('#delete_form').submit()">Удалить</button>
        <button class="btn btn-default btn-sm margin_button" type="button" onclick="history.back()">Отмена</button>
        
    </div>
        {{ form_rest(edit_form) }}
    </form>
    <form id="delete_form" action="{{ path('image_delete_confirm', {'id': entity.id}) }}" {{ form_enctype(delete_form) }} method="POST">
        {{ form_rest(delete_form) }}
    </form>
{% endblock %}
